In [1]:
import pandas as pd


vendas_df = pd.read_csv("transporte_aereo_2019.csv",encoding='utf-8',sep=",")
municipios = pd.read_csv("municipio.csv",sep=",") 
display(vendas_df)
municipios = municipios.drop('latitude', axis=1)
municipios = municipios.drop('longitude', axis=1)
municipios = municipios.drop('populacao_2011', axis=1)
municipios = municipios.drop('populacao_2021', axis=1)
municipios = municipios.drop('area', axis=1)
municipios = municipios.drop('nome_uf', axis=1)
municipios = municipios.drop('cod_reg_saude', axis=1)
municipios = municipios.drop('densidade_2021', axis=1)
municipios = municipios.drop('cod_uf', axis=1)    
    
vendas_df = vendas_df.drop('EMPRESA_NOME', axis=1)
vendas_df = vendas_df.drop('Código OACI', axis=1)
vendas_df = vendas_df.drop('EMPRESA_NACIONALIDADE', axis=1)
vendas_df = vendas_df.drop('NATUREZA', axis=1)
vendas_df = vendas_df.drop('DECOLAGENS', axis=1)
vendas_df = vendas_df.drop('ASSENTOS', axis=1)
vendas_df = vendas_df.drop('AEROPORTO_DE_DESTINO_PAIS', axis=1)
vendas_df = vendas_df.drop('AEROPORTO_DE_DESTINO_SIGLA', axis=1)
vendas_df = vendas_df.drop('AEROPORTO_DE_ORIGEM_PAIS', axis=1)
vendas_df = vendas_df.drop('EMPRESA_SIGLA', axis=1)

vendas_df.columns = ['Cod','Ano','Mes','origem','UFOrigem','destino','UFDestino','PASSAGEIROS_PAGOS','PASSAGEIROS_GRATIS']

display(vendas_df)

,Unnamed: 0,EMPRESA_SIGLA,EMPRESA_NOME,EMPRESA_NACIONALIDADE,ANO,MES,Código OACI,Município_Origem,AEROPORTO_DE_ORIGEM_UF,AEROPORTO_DE_ORIGEM_PAIS,AEROPORTO_DE_DESTINO_SIGLA,Município_Destino,AEROPORTO_DE_DESTINO_UF,AEROPORTO_DE_DESTINO_PAIS,NATUREZA,PASSAGEIROS_PAGOS,PASSAGEIROS_GRATIS,ASSENTOS,DECOLAGENS
0,827329,ACN,AZUL CONECTA LTDA. (EX TWO TAXI AEREO LTDA),BRASILEIRA,2019,1,SBAX,ARAXÁ,MG,BRASIL,SBBH,BELO HORIZONTE,MG,BRASIL,DOMÉSTICA,42.0,0.0,81.0,9.0
1,827330,ACN,AZUL CONECTA LTDA. (EX TWO TAXI AEREO LTDA),BRASILEIRA,2019,1,SBAX,ARAXÁ,MG,BRASIL,SNPD,PATOS DE MINAS,MG,BRASIL,DOMÉSTICA,0.0,0.0,NaN,NaN
2,827331,ACN,AZUL CONECTA LTDA. (EX TWO TAXI AEREO LTDA),BRASILEIRA,2019,1,SBAX,ARAXÁ,MG,BRASIL,SNPJ,PATROCINIO,MG,BRASIL,DOMÉSTICA,0.0,0.0,18.0,2.0
3,827332,ACN,AZUL CONECTA LTDA. (EX TWO TAXI AEREO LTDA),BRASILEIRA,2019,1,SBBH,BELO HORIZONTE,MG,BRASIL,SBAX,ARAXÁ,MG,BRASIL,DOMÉSTICA,0.0,0.0,NaN,NaN
4,827333,ACN,AZUL CONECTA LTDA. (EX TWO TAXI AEREO LTDA),BRASILEIRA,2019,1,SBBH,BELO HORIZONTE,MG,BRASIL,SBBH,BELO HORIZONTE,MG,BRASIL,DOMÉSTICA,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25812,864283,TTL,TOTAL LINHAS AÉREAS S.A.,BRASILEIRA,2019,12,SBTB,ORIXIMINÁ,PA,BRASIL,SBEG,MANAUS,AM,BRASIL,DOMÉSTICA,315.0,12.0,576.0,12.0
25813,864284,TTL,TOTAL LINHAS AÉREAS S.A.,BRASILEIRA,2019,12,SBUY,COARI,AM,BRASIL,SBEG,MANAUS,AM,BRASIL,DOMÉSTICA,1909.0,46.0,2208.0,46.0
25814,864285,TTL,TOTAL LINHAS AÉREAS S.A.,BRASILEIRA,2019,12,SBUY,COARI,AM,BRASIL,SWCA,CARAUARI,AM,BRASIL,DOMÉSTICA,573.0,14.0,672.0,14.0
25815,864286,TTL,TOTAL LINHAS AÉREAS S.A.,BRASILEIRA,2019,12,SBVT,VITÓRIA,ES,BRASIL,SBGR,GUARULHOS,SP,BRASIL,DOMÉSTICA,0.0,0.0,0.0,18.0
25816,864287,TTL,TOTAL LINHAS AÉREAS S.A.,BRASILEIRA,2019,12,SWCA,CARAUARI,AM,BRASIL,SBUY,COARI,AM,BRASIL,DOMÉSTICA,554.0,14.0,672.0,14.0

,Cod,Ano,Mes,origem,UFOrigem,destino,UFDestino,PASSAGEIROS_PAGOS,PASSAGEIROS_GRATIS
0,827329,2019,1,ARAXÁ,MG,BELO HORIZONTE,MG,42.0,0.0
1,827330,2019,1,ARAXÁ,MG,PATOS DE MINAS,MG,0.0,0.0
2,827331,2019,1,ARAXÁ,MG,PATROCINIO,MG,0.0,0.0
3,827332,2019,1,BELO HORIZONTE,MG,ARAXÁ,MG,0.0,0.0
4,827333,2019,1,BELO HORIZONTE,MG,BELO HORIZONTE,MG,0.0,0.0
...,...,...,...,...,...,...,...,...,...
25812,864283,2019,12,ORIXIMINÁ,PA,MANAUS,AM,315.0,12.0
25813,864284,2019,12,COARI,AM,MANAUS,AM,1909.0,46.0
25814,864285,2019,12,COARI,AM,CARAUARI,AM,573.0,14.0
25815,864286,2019,12,VITÓRIA,ES,GUARULHOS,SP,0.0,0.0
25816,864287,2019,12,CARAUARI,AM,COARI,AM,554.0,14.0

In [2]:
from unicodedata import normalize
def match_codigo(cidade):
    return (normalize('NFKD', cidade).encode('ASCII','ignore').decode('ASCII')).upper()

vendas_df["Origem"] = vendas_df.apply(lambda linha: match_codigo(linha.origem), axis= 1)
vendas_df["Destino"] = vendas_df.apply(lambda linha: match_codigo(linha.destino), axis= 1)
municipios["cidade"] = municipios.apply(lambda linha: match_codigo(linha.nome_mun), axis= 1)
municipios = municipios.drop('nome_mun', axis=1)
display(municipios)

vendas_df = vendas_df.drop('destino', axis=1)
vendas_df = vendas_df.drop('origem', axis=1)
vendas_df = vendas_df[['Cod','Ano','Mes','Origem','UFOrigem','Destino','UFDestino','PASSAGEIROS_PAGOS','PASSAGEIROS_GRATIS']]

display(vendas_df)

      cod_mun   uf pais               cidade
0     5200050   GO  BRA      ABADIA DE GOIAS
1     3100104   MG  BRA  ABADIA DOS DOURADOS
2     5200100   GO  BRA            ABADIANIA
3     3100203   MG  BRA               ABAETE
4     1500107   PA  BRA           ABAETETUBA
...       ...  ...  ...                  ...
5600  9100592  NaN  URU                ROCHA
5601  9100588  NaN  URU             PAYSANDU
5602  9100596  NaN  URU           TACUAREMBO
5603  8000096  NaN  ARG              ROSARIO
5604  9100591  NaN  URU               RIVERA

[5605 rows x 4 columns]

,Cod,Ano,Mes,Origem,UFOrigem,Destino,UFDestino,PASSAGEIROS_PAGOS,PASSAGEIROS_GRATIS
0,827329,2019,1,ARAXA,MG,BELO HORIZONTE,MG,42.0,0.0
1,827330,2019,1,ARAXA,MG,PATOS DE MINAS,MG,0.0,0.0
2,827331,2019,1,ARAXA,MG,PATROCINIO,MG,0.0,0.0
3,827332,2019,1,BELO HORIZONTE,MG,ARAXA,MG,0.0,0.0
4,827333,2019,1,BELO HORIZONTE,MG,BELO HORIZONTE,MG,0.0,0.0
...,...,...,...,...,...,...,...,...,...
25812,864283,2019,12,ORIXIMINA,PA,MANAUS,AM,315.0,12.0
25813,864284,2019,12,COARI,AM,MANAUS,AM,1909.0,46.0
25814,864285,2019,12,COARI,AM,CARAUARI,AM,573.0,14.0
25815,864286,2019,12,VITORIA,ES,GUARULHOS,SP,0.0,0.0
25816,864287,2019,12,CARAUARI,AM,COARI,AM,554.0,14.0

In [3]:
left = vendas_df
right = municipios
df_final = pd.merge(
    left,
    right,
    how="left",
    left_on=['Origem','UFOrigem'],
    right_on=['cidade','uf'],    
    left_index=False,
    right_index=False,
    suffixes=("_l", "_r"),
)
display(df_final)

left = df_final
right = municipios
df_final1 = pd.merge(
    left,
    right,
    how="left",
    left_on=['Destino','UFDestino'],
    right_on=['cidade','uf'],    
    left_index=False,
    right_index=False,
    suffixes=("_l", "_r"),
)

df_final1 = df_final1.drop('uf_l', axis=1)
df_final1 = df_final1.drop('pais_l', axis=1)
df_final1 = df_final1.drop('cidade_l', axis=1)
df_final1 = df_final1.drop('uf_r', axis=1)
df_final1 = df_final1.drop('pais_r', axis=1)
df_final1 = df_final1.drop('cidade_r', axis=1)

df_final1.columns = ['Cod','Ano','Mes','Origem','UFOrigem','Destino','UFDestino','PASSAGEIROS_PAGOS','PASSAGEIROS_GRATIS','cod_mun_origem','cod_mun_destino']
df_final1 = df_final1[['Cod','Mes','Ano','Origem','UFOrigem','cod_mun_origem','Destino','UFDestino','cod_mun_destino','PASSAGEIROS_PAGOS','PASSAGEIROS_GRATIS']]

df_final1["Origem"] = df_final1["Origem"] +"/"+ df_final1["UFOrigem"]
df_final1["Destino"] = df_final1["Destino"] +"/"+ df_final1["UFDestino"]
df_final1['passageiros'] = df_final1['PASSAGEIROS_PAGOS'] + df_final1['PASSAGEIROS_GRATIS']
df_final1 = df_final1.drop('UFOrigem', axis=1)
df_final1 = df_final1.drop('UFDestino', axis=1)
df_final1 = df_final1.drop('PASSAGEIROS_PAGOS', axis=1)
df_final1 = df_final1.drop('PASSAGEIROS_GRATIS', axis=1)

df = df_final1.groupby(['Origem','Destino','Mes']).agg({'passageiros':'sum','cod_mun_origem':'max','cod_mun_destino':'max','Ano' :'max'})


display(df)
df.to_csv("aeriosFinal.csv")

,Cod,Ano,Mes,Origem,UFOrigem,Destino,UFDestino,PASSAGEIROS_PAGOS,PASSAGEIROS_GRATIS,cod_mun,uf,pais,cidade
0,827329,2019,1,ARAXA,MG,BELO HORIZONTE,MG,42.0,0.0,3104007.0,MG,BRA,ARAXA
1,827330,2019,1,ARAXA,MG,PATOS DE MINAS,MG,0.0,0.0,3104007.0,MG,BRA,ARAXA
2,827331,2019,1,ARAXA,MG,PATROCINIO,MG,0.0,0.0,3104007.0,MG,BRA,ARAXA
3,827332,2019,1,BELO HORIZONTE,MG,ARAXA,MG,0.0,0.0,3106200.0,MG,BRA,BELO HORIZONTE
4,827333,2019,1,BELO HORIZONTE,MG,BELO HORIZONTE,MG,0.0,0.0,3106200.0,MG,BRA,BELO HORIZONTE
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25812,864283,2019,12,ORIXIMINA,PA,MANAUS,AM,315.0,12.0,1505304.0,PA,BRA,ORIXIMINA
25813,864284,2019,12,COARI,AM,MANAUS,AM,1909.0,46.0,1301209.0,AM,BRA,COARI
25814,864285,2019,12,COARI,AM,CARAUARI,AM,573.0,14.0,1301209.0,AM,BRA,COARI
25815,864286,2019,12,VITORIA,ES,GUARULHOS,SP,0.0,0.0,3205309.0,ES,BRA,VITORIA
25816,864287,2019,12,CARAUARI,AM,COARI,AM,554.0,14.0,1301001.0,AM,BRA,CARAUARI

                                          passageiros  cod_mun_origem  \
Origem      Destino                  Mes
AGUA BOA/MT CONFRESA/MT              12           2.0       5100201.0
            SAO FELIX DO ARAGUAIA/MT 3            6.0       5100201.0
                                     4            0.0       5100201.0
                                     5            5.0       5100201.0
                                     6           16.0       5100201.0
...                                               ...             ...
VITORIA/ES  UNA/BA                   3            0.0       3205309.0
            VITORIA/ES               1            0.0       3205309.0
                                     4            0.0       3205309.0
                                     5            0.0       3205309.0
                                     11           0.0       3205309.0

                                          cod_mun_destino   Ano
Origem      Destino                  Mes
AGUA BOA/MT CONFRESA/MT              12         5103353.0  2019
            SAO FELIX DO ARAGUAIA/MT 3          5107859.0  2019
                                     4          5107859.0  2019
                                     5          5107859.0  2019
                                     6          5107859.0  2019
...                                                   ...   ...
VITORIA/ES  UNA/BA                   3          2932507.0  2019
            VITORIA/ES               1          3205309.0  2019
                                     4          3205309.0  2019
                                     5          3205309.0  2019
                                     11         3205309.0  2019

[11808 rows x 4 columns]