In [1]:
import pandas as pd

df = pd.read_csv("ibge_dnit.csv")

display(df)

,origem,destino,ibge,dnit_2016_1,dnit_pessoas_2016_1,dnit_sel_2016_1,dnit_pessoas_sel_2016_1,dnit_2016_2,dnit_pessoas_2016_2,dnit_sel_2016_2,dnit_pessoas_sel_2016_2,dnit_2017_1,dnit_pessoas_2017_1,dnit_sel_2017_1,dnit_pessoas_sel_2017_1,dnit_2017_2,dnit_pessoas_2017_2,dnit_sel_2017_2,dnit_pessoas_sel_2017_2
0,5103809,5108402,42.0,0.874651,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1501204,1504604,68.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1502103,1504604,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2300150,2304400,716.0,NaN,NaN,NaN,NaN,0.004791,2.0,NaN,NaN,0.004791,5.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2304400,2311603,645.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.004791,1.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330386,5300108,5219258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.177394,12.0,NaN,NaN
330387,5300108,5219506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.115069,2.0,NaN,NaN
330388,5300108,5219902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.557534,4.0,NaN,NaN
330389,5300108,5220504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.264374,7.0,NaN,NaN
330390,5300108,5222203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.167097,54.0,NaN,NaN

In [2]:
dfFluxo = pd.read_csv("./dados_final/4_dados_calculados/arr_calculo_qtd_fluxo.csv")

display(dfFluxo)

,cod_origem,cod_destino,passageiros_rodov,passageiros_aereo,passageiros_total,prob_rodov,prob_aereo,prob_total
0,1100106,1100205,381.0,0.0,381.0,0.758964,0.0,0.758964
1,1100205,1100106,763.0,0.0,763.0,0.017988,0.0,0.001860
2,1100205,2105302,6.0,0.0,6.0,0.000141,0.0,0.000015
3,1100205,2111300,10.0,0.0,10.0,0.000236,0.0,0.000024
4,1100205,2611606,4.0,0.0,4.0,0.000094,0.0,0.000010
...,...,...,...,...,...,...,...,...
123972,5222203,5218300,44.0,0.0,44.0,0.130178,0.0,0.130178
123973,5222302,5201108,19.0,0.0,19.0,0.075697,0.0,0.075697
123974,5222302,5205513,18.0,0.0,18.0,0.071713,0.0,0.071713
123975,5222302,5205802,10.0,0.0,10.0,0.039841,0.0,0.039841
123976,5222302,5217302,9.0,0.0,9.0,0.035857,0.0,0.035857