- Pares de Origens e Destino são iguais nas bases do DNIT/IGBE e comparação de base com a ANTT
- Frequencia de Veiculos DNIT/IGBE (Onibus e Van)

In [1]:
import pandas as pd
vendas_df = pd.read_csv("PesqOD_DNIT_2016_2017_Total.csv",encoding='utf-8',sep=";")
df2 = vendas_df.loc[:, ['DataIniPesq', 'POrigem', 'MOrigem', 'UFOrigem', 'PDestino', 'MDestino', 'UFDestino','Classe','QtdPessoasVeic']]
display(df2)
#Retirando origens e destinos que são diferentes do Brasil
df2 = df2.drop(df2[df2['PDestino'] != 'Brasil'].index)
df2 = df2.drop(df2[df2['POrigem'] != 'Brasil'].index)

sep = '/'
df2['Cidade/EstadoOrigem'] = df2[['MOrigem', 'UFOrigem']].apply(lambda x: sep.join(x.astype(str)), axis=1)
df2['Cidade/EstadoDestino'] = df2[['MDestino', 'UFDestino']].apply(lambda x: sep.join(x.astype(str)), axis=1)
display(df2)

C:\Users\lucas\AppData\Local\Temp\ipykernel_33864\500948901.py:2: DtypeWarning: Columns (1,11,16,18,28,30,31,33,34,35,38,40,42,60) have mixed types. Specify dtype option on import or set low_memory=False.
  vendas_df = pd.read_csv("PesqOD_DNIT_2016_2017_Total.csv",encoding='utf-8',sep=";")

,DataIniPesq,POrigem,MOrigem,UFOrigem,PDestino,MDestino,UFDestino,Classe,QtdPessoasVeic
0,02/07/2016 07:54:01,Argentina,NaN,NaN,Argentina,NaN,NaN,P1,4
1,02/07/2016 07:58:19,Argentina,NaN,NaN,Argentina,NaN,NaN,P1,2
2,02/07/2016 09:53:38,Argentina,NaN,NaN,Argentina,NaN,NaN,P1,1
3,02/07/2016 15:43:58,Argentina,NaN,NaN,Argentina,NaN,NaN,P2,1
4,03/07/2016 10:04:53,Argentina,NaN,NaN,Argentina,NaN,NaN,P1,2
...,...,...,...,...,...,...,...,...,...
1384325,"43058,56696",Uruguai,NaN,NaN,Brasil,Votuporanga,SP,P1,2.0
1384326,"43058,71313",Venezuela,NaN,NaN,Brasil,Araxá,MG,P1,2.0
1384327,"43060,44832",Venezuela,NaN,NaN,Brasil,Capão Bonito,SP,M,1.0
1384328,"43062,42098",Venezuela,NaN,NaN,Brasil,Osasco,SP,P1,2.0
1384329,"43062,45253",Venezuela,NaN,NaN,Suriname,NaN,NaN,P1,5.0

,DataIniPesq,POrigem,MOrigem,UFOrigem,PDestino,MDestino,UFDestino,Classe,QtdPessoasVeic,Cidade/EstadoOrigem,Cidade/EstadoDestino
616,02/07/2016 09:13:37,Brasil,Acrelândia,AC,Brasil,Goiânia,GO,P3,2,Acrelândia/AC,Goiânia/GO
617,06/07/2016 09:10:57,Brasil,Acrelândia,AC,Brasil,Campo Grande,MS,P3,2,Acrelândia/AC,Campo Grande/MS
618,08/07/2016 09:50:59,Brasil,Acrelândia,AC,Brasil,Rondonópolis,MT,C2,NaN,Acrelândia/AC,Rondonópolis/MT
619,04/07/2016 08:28:31,Brasil,Bujari,AC,Brasil,Angra dos Reis,RJ,S6,NaN,Bujari/AC,Angra dos Reis/RJ
620,04/07/2016 10:25:49,Brasil,Capixaba,AC,Brasil,Figueira,PR,P1,2,Capixaba/AC,Figueira/PR
...,...,...,...,...,...,...,...,...,...,...,...
1384203,"43058,62271",Brasil,Xambioá,TO,Brasil,Paraíso do Tocantins,TO,P1,2.0,Xambioá/TO,Paraíso do Tocantins/TO
1384204,"43063,58825",Brasil,Xambioá,TO,Brasil,Paraíso do Tocantins,TO,C1,NaN,Xambioá/TO,Paraíso do Tocantins/TO
1384205,"43058,53024",Brasil,Xambioá,TO,Brasil,Palmas,TO,O1,11.0,Xambioá/TO,Palmas/TO
1384206,"43062,52131",Brasil,Xambioá,TO,Brasil,Palmas,TO,P1,2.0,Xambioá/TO,Palmas/TO
1384207,"43062,7876",Brasil,Xambioá,TO,Brasil,Xambioá,TO,P1,3.0,Xambioá/TO,Xambioá/TO

In [7]:
dfIBGE = pd.read_excel("Base_de_dados_ligacoes_rodoviarias_e_hidroviarias_2016.xlsx")
display(dfIBGE)

,ID,COD_UF_A,UF_A,CODMUNDV_A,NOMEMUN_A,COD_UF_B,UF_B,CODMUNDV_B,NOMEMUN_B,VAR01,...,VAR05,VAR06,VAR07,VAR08,VAR09,VAR10,VAR11,VAR12,VAR13,VAR14
0,13026031304260,13,AM,1302603,Manaus,13,AM,1304260,Uarini,Núcleo de Metrópole (Manaus),...,7.5,0.0,7.5,-60.023335,-3.134691,-65.155346,-2.983609,0.0,Não,0.023148
1,13021081302603,13,AM,1302108,Japurá,13,AM,1302603,Manaus,Centro Local,...,3.0,0.0,3.0,-66.996903,-1.880845,-60.023335,-3.134691,3.0,Não,0.026620
2,51038095108402,51,MT,5103809,Figueirópolis D'Oeste,51,MT,5108402,Várzea Grande,Centro Local,...,0.0,42.0,42.0,-58.737825,-15.446135,-56.144664,-15.658065,0.0,Sim,0.028000
3,13000291302603,13,AM,1300029,Alvarães,13,AM,1302603,Manaus,Centro Local,...,7.5,0.0,7.5,-64.813535,-3.216584,-60.023335,-3.134691,0.0,Não,0.031250
4,13000291301308,13,AM,1300029,Alvarães,13,AM,1301308,Codajás,Centro Local,...,6.0,0.0,6.0,-64.813535,-3.216584,-62.063430,-3.843046,0.0,Não,0.036232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65633,23042362313609,23,CE,2304236,Croatá,23,CE,2313609,Ubajara,Centro Local,...,0.0,7.0,7.0,-40.909045,-4.414057,-40.907144,-3.848491,0.0,Não,0.066216
65634,35262093537206,35,SP,3526209,Juquitiba,35,SP,3537206,Pedro de Toledo,Integrante de Metrópole (São Paulo),...,0.0,7.0,7.0,-47.081594,-23.935689,-47.229076,-24.272801,0.0,Não,0.171778
65635,35414064114104,35,SP,3541406,Presidente Prudente,41,PR,4114104,Mandaguaçu,Capital Regional C,...,0.0,14.0,14.0,-51.386766,-22.122743,-52.094253,-23.342789,0.0,Não,0.136500
65636,41141044114807,41,PR,4114104,Mandaguaçu,41,PR,4114807,Marialva,Centro Local,...,0.0,21.0,21.0,-52.094253,-23.342789,-51.798057,-23.484759,0.0,Não,0.159500
65637,43202065007208,43,RS,4320206,Seberi,50,MS,5007208,Rio Brilhante,Centro Local,...,0.0,2.0,2.0,-53.405467,-27.480414,-54.542242,-21.801195,0.0,Não,0.162375

In [2]:
df2 = df2.drop('UFOrigem', axis=1)
df2 = df2.drop('MOrigem', axis=1)
df2 = df2.drop('MDestino', axis=1)
df2 = df2.drop('UFDestino', axis=1)
display(df2)

,DataIniPesq,POrigem,PDestino,Classe,QtdPessoasVeic,Cidade/EstadoOrigem,Cidade/EstadoDestino
616,02/07/2016 09:13:37,Brasil,Brasil,P3,2,Acrelândia/AC,Goiânia/GO
617,06/07/2016 09:10:57,Brasil,Brasil,P3,2,Acrelândia/AC,Campo Grande/MS
618,08/07/2016 09:50:59,Brasil,Brasil,C2,NaN,Acrelândia/AC,Rondonópolis/MT
619,04/07/2016 08:28:31,Brasil,Brasil,S6,NaN,Bujari/AC,Angra dos Reis/RJ
620,04/07/2016 10:25:49,Brasil,Brasil,P1,2,Capixaba/AC,Figueira/PR
...,...,...,...,...,...,...,...
1384203,"43058,62271",Brasil,Brasil,P1,2.0,Xambioá/TO,Paraíso do Tocantins/TO
1384204,"43063,58825",Brasil,Brasil,C1,NaN,Xambioá/TO,Paraíso do Tocantins/TO
1384205,"43058,53024",Brasil,Brasil,O1,11.0,Xambioá/TO,Palmas/TO
1384206,"43062,52131",Brasil,Brasil,P1,2.0,Xambioá/TO,Palmas/TO
1384207,"43062,7876",Brasil,Brasil,P1,3.0,Xambioá/TO,Xambioá/TO

In [3]:
df2 = df2[['DataIniPesq','POrigem','Cidade/EstadoOrigem','PDestino','Cidade/EstadoDestino','Classe','QtdPessoasVeic']]
# Definindo as colunas para soma e as colunas para manter iguais
columns_to_sum = ['QtdPessoasVeic']
columns_to_keep = ['DataIniPesq','POrigem','Cidade/EstadoOrigem','PDestino','Cidade/EstadoDestino']

df2 = df2.dropna(subset=['QtdPessoasVeic'])
df2['QtdPessoasVeic'] = pd.to_numeric(df2['QtdPessoasVeic'], errors='coerce')
df2 = df2.dropna(subset=['QtdPessoasVeic'])
df2['QtdPessoasVeic'] = df2['QtdPessoasVeic'].fillna(0)


display(df2)
df2['QtdPessoasVeic'] = df2['QtdPessoasVeic'].astype(int)

# Agrupando e aplicando operações de agregação nas colunas desejadas
df3 = df2.groupby(['POrigem','Cidade/EstadoOrigem','PDestino','Cidade/EstadoDestino'])['QtdPessoasVeic'].sum().reset_index()

df_dupli = df2.drop_duplicates(subset=['Cidade/EstadoOrigem'])

display(df3)
display(df_dupli)

,DataIniPesq,POrigem,Cidade/EstadoOrigem,PDestino,Cidade/EstadoDestino,Classe,QtdPessoasVeic
616,02/07/2016 09:13:37,Brasil,Acrelândia/AC,Brasil,Goiânia/GO,P3,2.0
617,06/07/2016 09:10:57,Brasil,Acrelândia/AC,Brasil,Campo Grande/MS,P3,2.0
620,04/07/2016 10:25:49,Brasil,Capixaba/AC,Brasil,Figueira/PR,P1,2.0
621,08/07/2016 10:14:51,Brasil,Cruzeiro do Sul/AC,Brasil,Costa Rica/MS,P1,1.0
626,02/07/2016 07:59:05,Brasil,Rio Branco/AC,Brasil,Rio Branco/AC,M,2.0
...,...,...,...,...,...,...,...
1384202,"43062,42028",Brasil,Xambioá/TO,Brasil,Nova Olinda/TO,P3,1.0
1384203,"43058,62271",Brasil,Xambioá/TO,Brasil,Paraíso do Tocantins/TO,P1,2.0
1384205,"43058,53024",Brasil,Xambioá/TO,Brasil,Palmas/TO,O1,11.0
1384206,"43062,52131",Brasil,Xambioá/TO,Brasil,Palmas/TO,P1,2.0
1384207,"43062,7876",Brasil,Xambioá/TO,Brasil,Xambioá/TO,P1,3.0

,POrigem,Cidade/EstadoOrigem,PDestino,Cidade/EstadoDestino,QtdPessoasVeic
0,Brasil,Abadia de Goiás/GO,Brasil,Abadia de Goiás/GO,10
1,Brasil,Abadia de Goiás/GO,Brasil,Abadiânia/GO,5
2,Brasil,Abadia de Goiás/GO,Brasil,Acrelândia/AC,1
3,Brasil,Abadia de Goiás/GO,Brasil,Acreúna/GO,5
4,Brasil,Abadia de Goiás/GO,Brasil,Alagoinha do Piauí/PI,2
...,...,...,...,...,...
176949,Brasil,Óleo/SP,Brasil,Bauru/SP,6
176950,Brasil,Óleo/SP,Brasil,Cambará/PR,2
176951,Brasil,Óleo/SP,Brasil,Jaú/SP,2
176952,Brasil,Óleo/SP,Brasil,Juiz de Fora/MG,2
176953,Brasil,Óleo/SP,Brasil,São Paulo/SP,1

,DataIniPesq,POrigem,Cidade/EstadoOrigem,PDestino,Cidade/EstadoDestino,Classe,QtdPessoasVeic
616,02/07/2016 09:13:37,Brasil,Acrelândia/AC,Brasil,Goiânia/GO,P3,2
620,04/07/2016 10:25:49,Brasil,Capixaba/AC,Brasil,Figueira/PR,P1,2
621,08/07/2016 10:14:51,Brasil,Cruzeiro do Sul/AC,Brasil,Costa Rica/MS,P1,1
626,02/07/2016 07:59:05,Brasil,Rio Branco/AC,Brasil,Rio Branco/AC,M,2
691,07/07/2016 10:24:05,Brasil,Tarauacá/AC,Brasil,Abadia de Goiás/GO,P1,1
...,...,...,...,...,...,...,...
1380472,"43060,57694",Brasil,Tejupá/SP,Brasil,Bauru/SP,P3,3
1380588,"43061,43088",Brasil,Trabiju/SP,Brasil,Bandeirantes/PR,P1,2
1380916,"43059,48155",Brasil,Ubirajara/SP,Brasil,Londrina/PR,P1,3
1381406,"43058,49111",Brasil,Almas/TO,Brasil,São José do Rio Preto/SP,P3,2
1383075,"43059,40493",Brasil,Piraquê/TO,Brasil,Itumbiara/GO,P3,2

Comparar diretamente os municipios que não aparecem na base de municipios do Brasil 
Mesma coisa com O1,O2,O3 e S - 321

In [1]:
import pandas as pd
c_df = pd.read_excel("PesquisaOD_2016_2017.xlsx", sheet_name=['BD_1PNT2016','BD_2PNT2016'])
c_df2 =c_df ['BD_1PNT2016']
c_df3 = c_df['BD_2PNT2016']

c_df2 = c_df2.loc[:, [ 'POrigem', 'MOrigem', 'UFOrigem','GeocodOrigem', 'PDestino', 'MDestino', 'UFDestino','GeocodDestino','Classe']]
c_df3 = c_df3.loc[:, [ 'POrigem', 'MOrigem', 'UFOrigem','GeocodOrigem', 'PDestino', 'MDestino', 'UFDestino','GeocodDestino','Classe']]

df_merged = pd.concat([c_df2, c_df3])
#Retirando origens e destinos que são diferentes do Brasil
df_merged = df_merged.drop(df_merged[df_merged['PDestino'] != 'Brasil'].index)
df_merged = df_merged.drop(df_merged[df_merged['POrigem'] != 'Brasil'].index)

sep = '/'
df_merged['Cidade/EstadoOrigem'] = df_merged[['MOrigem', 'UFOrigem']].apply(lambda x: sep.join(x.astype(str)), axis=1)
df_merged['Cidade/EstadoDestino'] = df_merged[['MDestino', 'UFDestino']].apply(lambda x: sep.join(x.astype(str)), axis=1)


df_final1 = df_merged.loc[:, ['POrigem', 'Cidade/EstadoDestino','GeocodOrigem', 'Classe']]
df_final2 = df_merged.loc[:, ['PDestino', 'Cidade/EstadoDestino','GeocodDestino','Classe']]

dfrod = pd.read_excel("Base_de_dados_ligacoes_rodoviarias_e_hidroviarias_2016.xlsx", sheet_name=['Base de dados'])
dfrod2 =dfrod ['Base de dados']
dfrod2 = dfrod2.loc[:, [ 'UF_A', 'CODMUNDV_A', 'NOMEMUN_A','UF_B', 'CODMUNDV_B', 'NOMEMUN_B']]

dfrod2['Cidade/EstadoA'] = dfrod2[['UF_A', 'NOMEMUN_A']].apply(lambda x: sep.join(x.astype(str)), axis=1)
dfrod2['Cidade/EstadoB'] = dfrod2[['UF_B', 'NOMEMUN_B']].apply(lambda x: sep.join(x.astype(str)), axis=1)

df_final3 = dfrod2.loc[:, ['Cidade/EstadoA', 'CODMUNDV_A']]
df_final4 = dfrod2.loc[:, ['Cidade/EstadoB', 'CODMUNDV_B']]

display(df_final1)
display(df_final2)
display(df_final3)
display(df_final4)
df_municipios = pd.read_csv("municipio.csv",encoding='utf-8',sep=",")

display(df_municipios)

       POrigem     Cidade/EstadoDestino  GeocodOrigem Classe
0       Brasil             Tramandaí/RS     4320206.0     P3
1       Brasil                Seberi/RS     4318499.0     P3
3       Brasil            Jaboticaba/RS     4313805.0     P1
4       Brasil  Palmeira das Missões/RS     4320206.0     P3
5       Brasil                Esteio/RS     4314498.0     P1
...        ...                      ...           ...    ...
296932  Brasil             Parnarama/MA     2103505.0     P1
296933  Brasil             Parnarama/MA     2103505.0     P1
296934  Brasil    São João dos Patos/MA     2111300.0      M
296935  Brasil             Parnarama/MA     2103505.0     P1
296936  Brasil             Parnarama/MA     2103505.0     P1

[504108 rows x 4 columns]

       PDestino     Cidade/EstadoDestino  GeocodDestino Classe
0        Brasil             Tramandaí/RS      4321600.0     P3
1        Brasil                Seberi/RS      4320206.0     P3
3        Brasil            Jaboticaba/RS      4310850.0     P1
4        Brasil  Palmeira das Missões/RS      4313706.0     P3
5        Brasil                Esteio/RS      4307708.0     P1
...         ...                      ...            ...    ...
296932   Brasil             Parnarama/MA      2107803.0     P1
296933   Brasil             Parnarama/MA      2107803.0     P1
296934   Brasil    São João dos Patos/MA      2111102.0      M
296935   Brasil             Parnarama/MA      2107803.0     P1
296936   Brasil             Parnarama/MA      2107803.0     P1

[504108 rows x 4 columns]

                 Cidade/EstadoA  CODMUNDV_A
0                     AM/Manaus     1302603
1                     AM/Japurá     1302108
2      MT/Figueirópolis D'Oeste     5103809
3                   AM/Alvarães     1300029
4                   AM/Alvarães     1300029
...                         ...         ...
65633                 CE/Croatá     2304236
65634              SP/Juquitiba     3526209
65635    SP/Presidente Prudente     3541406
65636             PR/Mandaguaçu     4114104
65637                 RS/Seberi     4320206

[65638 rows x 2 columns]

           Cidade/EstadoB  CODMUNDV_B
0               AM/Uarini     1304260
1               AM/Manaus     1302603
2        MT/Várzea Grande     5108402
3               AM/Manaus     1302603
4              AM/Codajás     1301308
...                   ...         ...
65633          CE/Ubajara     2313609
65634  SP/Pedro de Toledo     3537206
65635       PR/Mandaguaçu     4114104
65636         PR/Marialva     4114807
65637    MS/Rio Brilhante     5007208

[65638 rows x 2 columns]

,cod_mun,nome_mun,latitude,longitude,cod_uf,populacao_2011,populacao_2021,area,densidade_2021,cod_reg_saude,nome_uf,uf,pais
0,5200050,Abadia de Goiás,-16.75730,-49.4412,52,7023.0,9158.0,143.357,63.882475,52001.0,Goiás,GO,BRA
1,3100104,Abadia dos Dourados,-18.48310,-47.3916,31,6724.0,7022.0,880.461,7.975367,31074.0,Minas Gerais,MG,BRA
2,5200100,Abadiânia,-16.19700,-48.7057,52,16088.0,20873.0,1044.555,19.982672,52011.0,Goiás,GO,BRA
3,3100203,Abaeté,-19.15510,-45.4444,31,22716.0,23263.0,1817.067,12.802500,31024.0,Minas Gerais,MG,BRA
4,1500107,Abaetetuba,-1.72183,-48.8788,15,142785.0,160439.0,1610.654,99.611090,15011.0,Pará,PA,BRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5600,9100592,Rocha,NaN,NaN,91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,URU
5601,9100588,Paysandú,NaN,NaN,91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,URU
5602,9100596,Tacuarembo,NaN,NaN,91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,URU
5603,8000096,Rosario,NaN,NaN,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARG
5604,9100591,Rivera,NaN,NaN,91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,URU

,POrigem,MOrigem,UFOrigem,GeocodOrigem,Classe,Cidade/EstadoOrigem
0,Brasil,Seberi,RS,4320206.0,P3,Seberi/RS
1,Brasil,São José do Inhacorá,RS,4318499.0,P3,São José do Inhacorá/RS
2,Brasil,Seberi,RS,4320206.0,P1,Seberi/RS
3,Brasil,Palmitinho,RS,4313805.0,P1,Palmitinho/RS
4,Brasil,Seberi,RS,4320206.0,P3,Seberi/RS
...,...,...,...,...,...,...
296932,Brasil,Colinas,MA,2103505.0,P1,Colinas/MA
296933,Brasil,Colinas,MA,2103505.0,P1,Colinas/MA
296934,Brasil,São Luis,MA,2111300.0,M,São Luis/MA
296935,Brasil,Colinas,MA,2103505.0,P1,Colinas/MA
296936,Brasil,Colinas,MA,2103505.0,P1,Colinas/MA

,PDestino,MDestino,UFDestino,GeocodDestino,Classe,Cidade/EstadoDestino
0,Brasil,Tramandaí,RS,4321600.0,P3,Tramandaí/RS
1,Brasil,Seberi,RS,4320206.0,P3,Seberi/RS
2,Argentina,NaN,NaN,NaN,P1,nan/nan
3,Brasil,Jaboticaba,RS,4310850.0,P1,Jaboticaba/RS
4,Brasil,Palmeira das Missões,RS,4313706.0,P3,Palmeira das Missões/RS
...,...,...,...,...,...,...
296932,Brasil,Parnarama,MA,2107803.0,P1,Parnarama/MA
296933,Brasil,Parnarama,MA,2107803.0,P1,Parnarama/MA
296934,Brasil,São João dos Patos,MA,2111102.0,M,São João dos Patos/MA
296935,Brasil,Parnarama,MA,2107803.0,P1,Parnarama/MA
296936,Brasil,Parnarama,MA,2107803.0,P1,Parnarama/MA

      UF_A  CODMUNDV_A              NOMEMUN_A            Cidade/EstadoA
0       AM     1302603                 Manaus                 AM/Manaus
1       AM     1302108                 Japurá                 AM/Japurá
2       MT     5103809  Figueirópolis D'Oeste  MT/Figueirópolis D'Oeste
3       AM     1300029               Alvarães               AM/Alvarães
4       AM     1300029               Alvarães               AM/Alvarães
...    ...         ...                    ...                       ...
65633   CE     2304236                 Croatá                 CE/Croatá
65634   SP     3526209              Juquitiba              SP/Juquitiba
65635   SP     3541406    Presidente Prudente    SP/Presidente Prudente
65636   PR     4114104             Mandaguaçu             PR/Mandaguaçu
65637   RS     4320206                 Seberi                 RS/Seberi

[65638 rows x 4 columns]

      UF_B  CODMUNDV_B        NOMEMUN_B      Cidade/EstadoB
0       AM     1304260           Uarini           AM/Uarini
1       AM     1302603           Manaus           AM/Manaus
2       MT     5108402    Várzea Grande    MT/Várzea Grande
3       AM     1302603           Manaus           AM/Manaus
4       AM     1301308          Codajás          AM/Codajás
...    ...         ...              ...                 ...
65633   CE     2313609          Ubajara          CE/Ubajara
65634   SP     3537206  Pedro de Toledo  SP/Pedro de Toledo
65635   PR     4114104       Mandaguaçu       PR/Mandaguaçu
65636   PR     4114807         Marialva         PR/Marialva
65637   MS     5007208    Rio Brilhante    MS/Rio Brilhante

[65638 rows x 4 columns]

,cod_mun,nome_mun,latitude,longitude,cod_uf,populacao_2011,populacao_2021,area,densidade_2021,cod_reg_saude,nome_uf,uf,pais
0,5200050,Abadia de Goiás,-16.75730,-49.4412,52,7023.0,9158.0,143.357,63.882475,52001.0,Goiás,GO,BRA
1,3100104,Abadia dos Dourados,-18.48310,-47.3916,31,6724.0,7022.0,880.461,7.975367,31074.0,Minas Gerais,MG,BRA
2,5200100,Abadiânia,-16.19700,-48.7057,52,16088.0,20873.0,1044.555,19.982672,52011.0,Goiás,GO,BRA
3,3100203,Abaeté,-19.15510,-45.4444,31,22716.0,23263.0,1817.067,12.802500,31024.0,Minas Gerais,MG,BRA
4,1500107,Abaetetuba,-1.72183,-48.8788,15,142785.0,160439.0,1610.654,99.611090,15011.0,Pará,PA,BRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5600,9100592,Rocha,NaN,NaN,91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,URU
5601,9100588,Paysandú,NaN,NaN,91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,URU
5602,9100596,Tacuarembo,NaN,NaN,91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,URU
5603,8000096,Rosario,NaN,NaN,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARG
5604,9100591,Rivera,NaN,NaN,91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,URU

In [17]:
import pandas as pd
dupli_merged1 = df_merged.drop_duplicates(subset=['GeocodOrigem'])

dfrod = pd.read_excel("Base_de_dados_ligacoes_rodoviarias_e_hidroviarias_2016.xlsx", sheet_name=['Base de dados'])
dfrod2 =dfrod ['Base de dados']
dfrod2 = dfrod2.loc[:, [ 'UF_A', 'CODMUNDV_A', 'NOMEMUN_A']]
dupli_merged2 = dfrod2.drop_duplicates(subset=['CODMUNDV_A'])
display(dupli_merged1)
display(dupli_merged2)

df22 = dupli_merged1.drop(dupli_merged1[dupli_merged1['Classe'] != 'O1'].index)
display(df22)

,POrigem,MOrigem,UFOrigem,GeocodOrigem,PDestino,MDestino,UFDestino,GeocodDestino,Classe
0,Brasil,Seberi,RS,4320206.0,Brasil,Tramandaí,RS,4321600.0,P3
1,Brasil,São José do Inhacorá,RS,4318499.0,Brasil,Seberi,RS,4320206.0,P3
3,Brasil,Palmitinho,RS,4313805.0,Brasil,Jaboticaba,RS,4310850.0,P1
5,Brasil,Pinheirinho do Vale,RS,4314498.0,Brasil,Esteio,RS,4307708.0,P1
6,Brasil,Frederico Westphalen,RS,4308508.0,Brasil,Seberi,RS,4320206.0,P1
...,...,...,...,...,...,...,...,...,...
289447,Brasil,Atalaia,PR,4102208.0,Brasil,Rio das Ostras,RJ,3304524.0,P1
291423,Brasil,Taquaral,SP,3553658.0,Brasil,Goiânia,GO,5208707.0,P1
292185,Brasil,Jaçanã,RN,2405009.0,Brasil,Trindade,PE,2615607.0,C2
293631,Brasil,Irapuru,SP,3521606.0,Brasil,Caracol,PI,2202505.0,S6
296009,Brasil,Japaratinga,AL,2703601.0,Brasil,São Bento do Una,PE,2613008.0,P1

      UF_A  CODMUNDV_A              NOMEMUN_A
0       AM     1302603                 Manaus
1       AM     1302108                 Japurá
2       MT     5103809  Figueirópolis D'Oeste
3       AM     1300029               Alvarães
5       AM     1300300                Autazes
...    ...         ...                    ...
65500   MT     5106240           Nova Ubiratã
65501   MT     5107248           Santa Carmem
65505   GO     5208152     Gameleira de Goiás
65562   MA     2108108            Paulo Ramos
65586   RR     1400506     São João da Baliza

[4742 rows x 3 columns]

,POrigem,MOrigem,UFOrigem,GeocodOrigem,PDestino,MDestino,UFDestino,GeocodDestino,Classe
4155,Brasil,Capão do Cipó,RS,4304655.0,Uruguai,NaN,NaN,NaN,O1
4803,Brasil,Nova Aurora,PR,4116703.0,Brasil,Campo Mourão,PR,4104303.0,O1
84511,Brasil,Afonso Cláudio,ES,3200102.0,Brasil,Três Lagoas,MS,5008305.0,O1
175221,Brasil,Gastão Vidigal,SP,3516804.0,Brasil,Jundiaí,SP,3525904.0,O1
2514,Brasil,Jeremoabo,BA,2918100.0,Brasil,Casa Nova,BA,2907202.0,O1
4630,Brasil,Afogados da Ingazeira,PE,2600104.0,Brasil,São Paulo,SP,3550308.0,O1
4982,Brasil,São Luíz do Norte,GO,5220157.0,Brasil,Uruaçu,GO,5221601.0,O1
6290,Brasil,Ubaí,MG,3170008.0,Brasil,Belo Horizonte,MG,3106200.0,O1
6565,Brasil,Santo Antônio do Aventureiro,MG,3160009.0,Brasil,São João Nepomuceno,MG,3162906.0,O1
11169,Brasil,Cândido Mendes,MA,2102606.0,Brasil,São Luis,MA,2111300.0,O1
13712,Brasil,Conceição da Feira,BA,2908200.0,Brasil,Santa Cruz da Vitória,BA,2927804.0,O1
15066,Brasil,São Raimundo Nonato,PI,2210607.0,Brasil,São Paulo,SP,3550308.0,O1
17254,Brasil,Jenipapo de Minas,MG,3135456.0,Brasil,São Paulo,SP,3550308.0,O1
22602,Brasil,Conde,BA,2908606.0,Brasil,Feira de Santana,BA,2910800.0,O1
28848,Brasil,Santa Bárbara,MG,3157203.0,Brasil,Belo Horizonte,MG,3106200.0,O1
28955,Brasil,Itambé do Mato Dentro,MG,3132800.0,Brasil,Belo Horizonte,MG,3106200.0,O1
39086,Brasil,Timbaúba,PE,2615300.0,Brasil,Juazeiro do Norte,CE,2307304.0,O1
62852,Brasil,São Félix,BA,2929008.0,Brasil,Itaberaba,BA,2914703.0,O1
81002,Brasil,Novo Oriente de Minas,MG,3145356.0,Brasil,Montes Claros,MG,3143302.0,O1
93918,Brasil,Lagoa Grande,MG,3137536.0,Brasil,João Pinheiro,MG,3136306.0,O1
189377,Brasil,Paulino Neves,MA,2108058.0,Brasil,São Luis,MA,2111300.0,O1
252868,Brasil,Grupiara,MG,3127909.0,Brasil,Três Corações,MG,3169307.0,O1

In [3]:
import pandas as pd

# DataFrame de exemplo
data = {'Nome': ['João', 'Maria', 'João', 'Maria'],
        'Valor1': [10, 20, 30, 40],
        'Valor2': [5, 10, 15, 20],
        'Valor3': [2, 4, 6, 8]}
df = pd.DataFrame(data)
print(df)

# Definindo as colunas para soma e as colunas para manter iguais
columns_to_sum = ['Valor1', 'Valor3']
columns_to_keep = ['Nome', 'Valor2']

# Agrupando e aplicando operações de agregação nas colunas desejadas
df_grouped = df.groupby('Nome').agg({'Valor2': 'first', **{col: 'sum' for col in columns_to_sum}})

print(df_grouped)

    Nome  Valor1  Valor2  Valor3
0   João      10       5       2
1  Maria      20      10       4
2   João      30      15       6
3  Maria      40      20       8
       Valor2  Valor1  Valor3
Nome
João        5      40       8
Maria      10      60      12