- Pares de Origens e Destino são iguais nas bases do DNIT/IGBE e comparação de base com a ANTT
- Frequencia de Veiculos DNIT/IGBE (Onibus e Van)

In [1]:
import pandas as pd
vendas_df = pd.read_csv("PesqOD_DNIT_2016_2017_Total.csv",encoding='utf-8',sep=";")
df2 = vendas_df.loc[:, ['DataIniPesq', 'POrigem', 'MOrigem', 'UFOrigem', 'PDestino', 'MDestino', 'UFDestino','Classe','QtdPessoasVeic']]
display(df2)
#Retirando origens e destinos que são diferentes do Brasil
df2 = df2.drop(df2[df2['PDestino'] != 'Brasil'].index)
df2 = df2.drop(df2[df2['POrigem'] != 'Brasil'].index)

sep = '/'
df2['Cidade/EstadoOrigem'] = df2[['MOrigem', 'UFOrigem']].apply(lambda x: sep.join(x.astype(str)), axis=1)
df2['Cidade/EstadoDestino'] = df2[['MDestino', 'UFDestino']].apply(lambda x: sep.join(x.astype(str)), axis=1)
display(df2)

C:\Users\lucas\AppData\Local\Temp\ipykernel_33864\500948901.py:2: DtypeWarning: Columns (1,11,16,18,28,30,31,33,34,35,38,40,42,60) have mixed types. Specify dtype option on import or set low_memory=False.
  vendas_df = pd.read_csv("PesqOD_DNIT_2016_2017_Total.csv",encoding='utf-8',sep=";")

,DataIniPesq,POrigem,MOrigem,UFOrigem,PDestino,MDestino,UFDestino,Classe,QtdPessoasVeic
0,02/07/2016 07:54:01,Argentina,NaN,NaN,Argentina,NaN,NaN,P1,4
1,02/07/2016 07:58:19,Argentina,NaN,NaN,Argentina,NaN,NaN,P1,2
2,02/07/2016 09:53:38,Argentina,NaN,NaN,Argentina,NaN,NaN,P1,1
3,02/07/2016 15:43:58,Argentina,NaN,NaN,Argentina,NaN,NaN,P2,1
4,03/07/2016 10:04:53,Argentina,NaN,NaN,Argentina,NaN,NaN,P1,2
...,...,...,...,...,...,...,...,...,...
1384325,"43058,56696",Uruguai,NaN,NaN,Brasil,Votuporanga,SP,P1,2.0
1384326,"43058,71313",Venezuela,NaN,NaN,Brasil,Araxá,MG,P1,2.0
1384327,"43060,44832",Venezuela,NaN,NaN,Brasil,Capão Bonito,SP,M,1.0
1384328,"43062,42098",Venezuela,NaN,NaN,Brasil,Osasco,SP,P1,2.0
1384329,"43062,45253",Venezuela,NaN,NaN,Suriname,NaN,NaN,P1,5.0

,DataIniPesq,POrigem,MOrigem,UFOrigem,PDestino,MDestino,UFDestino,Classe,QtdPessoasVeic,Cidade/EstadoOrigem,Cidade/EstadoDestino
616,02/07/2016 09:13:37,Brasil,Acrelândia,AC,Brasil,Goiânia,GO,P3,2,Acrelândia/AC,Goiânia/GO
617,06/07/2016 09:10:57,Brasil,Acrelândia,AC,Brasil,Campo Grande,MS,P3,2,Acrelândia/AC,Campo Grande/MS
618,08/07/2016 09:50:59,Brasil,Acrelândia,AC,Brasil,Rondonópolis,MT,C2,NaN,Acrelândia/AC,Rondonópolis/MT
619,04/07/2016 08:28:31,Brasil,Bujari,AC,Brasil,Angra dos Reis,RJ,S6,NaN,Bujari/AC,Angra dos Reis/RJ
620,04/07/2016 10:25:49,Brasil,Capixaba,AC,Brasil,Figueira,PR,P1,2,Capixaba/AC,Figueira/PR
...,...,...,...,...,...,...,...,...,...,...,...
1384203,"43058,62271",Brasil,Xambioá,TO,Brasil,Paraíso do Tocantins,TO,P1,2.0,Xambioá/TO,Paraíso do Tocantins/TO
1384204,"43063,58825",Brasil,Xambioá,TO,Brasil,Paraíso do Tocantins,TO,C1,NaN,Xambioá/TO,Paraíso do Tocantins/TO
1384205,"43058,53024",Brasil,Xambioá,TO,Brasil,Palmas,TO,O1,11.0,Xambioá/TO,Palmas/TO
1384206,"43062,52131",Brasil,Xambioá,TO,Brasil,Palmas,TO,P1,2.0,Xambioá/TO,Palmas/TO
1384207,"43062,7876",Brasil,Xambioá,TO,Brasil,Xambioá,TO,P1,3.0,Xambioá/TO,Xambioá/TO

In [7]:
dfIBGE = pd.read_excel("Base_de_dados_ligacoes_rodoviarias_e_hidroviarias_2016.xlsx")
display(dfIBGE)

,ID,COD_UF_A,UF_A,CODMUNDV_A,NOMEMUN_A,COD_UF_B,UF_B,CODMUNDV_B,NOMEMUN_B,VAR01,...,VAR05,VAR06,VAR07,VAR08,VAR09,VAR10,VAR11,VAR12,VAR13,VAR14
0,13026031304260,13,AM,1302603,Manaus,13,AM,1304260,Uarini,Núcleo de Metrópole (Manaus),...,7.5,0.0,7.5,-60.023335,-3.134691,-65.155346,-2.983609,0.0,Não,0.023148
1,13021081302603,13,AM,1302108,Japurá,13,AM,1302603,Manaus,Centro Local,...,3.0,0.0,3.0,-66.996903,-1.880845,-60.023335,-3.134691,3.0,Não,0.026620
2,51038095108402,51,MT,5103809,Figueirópolis D'Oeste,51,MT,5108402,Várzea Grande,Centro Local,...,0.0,42.0,42.0,-58.737825,-15.446135,-56.144664,-15.658065,0.0,Sim,0.028000
3,13000291302603,13,AM,1300029,Alvarães,13,AM,1302603,Manaus,Centro Local,...,7.5,0.0,7.5,-64.813535,-3.216584,-60.023335,-3.134691,0.0,Não,0.031250
4,13000291301308,13,AM,1300029,Alvarães,13,AM,1301308,Codajás,Centro Local,...,6.0,0.0,6.0,-64.813535,-3.216584,-62.063430,-3.843046,0.0,Não,0.036232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65633,23042362313609,23,CE,2304236,Croatá,23,CE,2313609,Ubajara,Centro Local,...,0.0,7.0,7.0,-40.909045,-4.414057,-40.907144,-3.848491,0.0,Não,0.066216
65634,35262093537206,35,SP,3526209,Juquitiba,35,SP,3537206,Pedro de Toledo,Integrante de Metrópole (São Paulo),...,0.0,7.0,7.0,-47.081594,-23.935689,-47.229076,-24.272801,0.0,Não,0.171778
65635,35414064114104,35,SP,3541406,Presidente Prudente,41,PR,4114104,Mandaguaçu,Capital Regional C,...,0.0,14.0,14.0,-51.386766,-22.122743,-52.094253,-23.342789,0.0,Não,0.136500
65636,41141044114807,41,PR,4114104,Mandaguaçu,41,PR,4114807,Marialva,Centro Local,...,0.0,21.0,21.0,-52.094253,-23.342789,-51.798057,-23.484759,0.0,Não,0.159500
65637,43202065007208,43,RS,4320206,Seberi,50,MS,5007208,Rio Brilhante,Centro Local,...,0.0,2.0,2.0,-53.405467,-27.480414,-54.542242,-21.801195,0.0,Não,0.162375

In [2]:
df2 = df2.drop('UFOrigem', axis=1)
df2 = df2.drop('MOrigem', axis=1)
df2 = df2.drop('MDestino', axis=1)
df2 = df2.drop('UFDestino', axis=1)
display(df2)

,DataIniPesq,POrigem,PDestino,Classe,QtdPessoasVeic,Cidade/EstadoOrigem,Cidade/EstadoDestino
616,02/07/2016 09:13:37,Brasil,Brasil,P3,2,Acrelândia/AC,Goiânia/GO
617,06/07/2016 09:10:57,Brasil,Brasil,P3,2,Acrelândia/AC,Campo Grande/MS
618,08/07/2016 09:50:59,Brasil,Brasil,C2,NaN,Acrelândia/AC,Rondonópolis/MT
619,04/07/2016 08:28:31,Brasil,Brasil,S6,NaN,Bujari/AC,Angra dos Reis/RJ
620,04/07/2016 10:25:49,Brasil,Brasil,P1,2,Capixaba/AC,Figueira/PR
...,...,...,...,...,...,...,...
1384203,"43058,62271",Brasil,Brasil,P1,2.0,Xambioá/TO,Paraíso do Tocantins/TO
1384204,"43063,58825",Brasil,Brasil,C1,NaN,Xambioá/TO,Paraíso do Tocantins/TO
1384205,"43058,53024",Brasil,Brasil,O1,11.0,Xambioá/TO,Palmas/TO
1384206,"43062,52131",Brasil,Brasil,P1,2.0,Xambioá/TO,Palmas/TO
1384207,"43062,7876",Brasil,Brasil,P1,3.0,Xambioá/TO,Xambioá/TO

In [3]:
df2 = df2[['DataIniPesq','POrigem','Cidade/EstadoOrigem','PDestino','Cidade/EstadoDestino','Classe','QtdPessoasVeic']]
# Definindo as colunas para soma e as colunas para manter iguais
columns_to_sum = ['QtdPessoasVeic']
columns_to_keep = ['DataIniPesq','POrigem','Cidade/EstadoOrigem','PDestino','Cidade/EstadoDestino']

df2 = df2.dropna(subset=['QtdPessoasVeic'])
df2['QtdPessoasVeic'] = pd.to_numeric(df2['QtdPessoasVeic'], errors='coerce')
df2 = df2.dropna(subset=['QtdPessoasVeic'])
df2['QtdPessoasVeic'] = df2['QtdPessoasVeic'].fillna(0)


display(df2)
df2['QtdPessoasVeic'] = df2['QtdPessoasVeic'].astype(int)

# Agrupando e aplicando operações de agregação nas colunas desejadas
df3 = df2.groupby(['POrigem','Cidade/EstadoOrigem','PDestino','Cidade/EstadoDestino'])['QtdPessoasVeic'].sum().reset_index()

df_dupli = df2.drop_duplicates(subset=['Cidade/EstadoOrigem'])

display(df3)
display(df_dupli)

,DataIniPesq,POrigem,Cidade/EstadoOrigem,PDestino,Cidade/EstadoDestino,Classe,QtdPessoasVeic
616,02/07/2016 09:13:37,Brasil,Acrelândia/AC,Brasil,Goiânia/GO,P3,2.0
617,06/07/2016 09:10:57,Brasil,Acrelândia/AC,Brasil,Campo Grande/MS,P3,2.0
620,04/07/2016 10:25:49,Brasil,Capixaba/AC,Brasil,Figueira/PR,P1,2.0
621,08/07/2016 10:14:51,Brasil,Cruzeiro do Sul/AC,Brasil,Costa Rica/MS,P1,1.0
626,02/07/2016 07:59:05,Brasil,Rio Branco/AC,Brasil,Rio Branco/AC,M,2.0
...,...,...,...,...,...,...,...
1384202,"43062,42028",Brasil,Xambioá/TO,Brasil,Nova Olinda/TO,P3,1.0
1384203,"43058,62271",Brasil,Xambioá/TO,Brasil,Paraíso do Tocantins/TO,P1,2.0
1384205,"43058,53024",Brasil,Xambioá/TO,Brasil,Palmas/TO,O1,11.0
1384206,"43062,52131",Brasil,Xambioá/TO,Brasil,Palmas/TO,P1,2.0
1384207,"43062,7876",Brasil,Xambioá/TO,Brasil,Xambioá/TO,P1,3.0

,POrigem,Cidade/EstadoOrigem,PDestino,Cidade/EstadoDestino,QtdPessoasVeic
0,Brasil,Abadia de Goiás/GO,Brasil,Abadia de Goiás/GO,10
1,Brasil,Abadia de Goiás/GO,Brasil,Abadiânia/GO,5
2,Brasil,Abadia de Goiás/GO,Brasil,Acrelândia/AC,1
3,Brasil,Abadia de Goiás/GO,Brasil,Acreúna/GO,5
4,Brasil,Abadia de Goiás/GO,Brasil,Alagoinha do Piauí/PI,2
...,...,...,...,...,...
176949,Brasil,Óleo/SP,Brasil,Bauru/SP,6
176950,Brasil,Óleo/SP,Brasil,Cambará/PR,2
176951,Brasil,Óleo/SP,Brasil,Jaú/SP,2
176952,Brasil,Óleo/SP,Brasil,Juiz de Fora/MG,2
176953,Brasil,Óleo/SP,Brasil,São Paulo/SP,1

,DataIniPesq,POrigem,Cidade/EstadoOrigem,PDestino,Cidade/EstadoDestino,Classe,QtdPessoasVeic
616,02/07/2016 09:13:37,Brasil,Acrelândia/AC,Brasil,Goiânia/GO,P3,2
620,04/07/2016 10:25:49,Brasil,Capixaba/AC,Brasil,Figueira/PR,P1,2
621,08/07/2016 10:14:51,Brasil,Cruzeiro do Sul/AC,Brasil,Costa Rica/MS,P1,1
626,02/07/2016 07:59:05,Brasil,Rio Branco/AC,Brasil,Rio Branco/AC,M,2
691,07/07/2016 10:24:05,Brasil,Tarauacá/AC,Brasil,Abadia de Goiás/GO,P1,1
...,...,...,...,...,...,...,...
1380472,"43060,57694",Brasil,Tejupá/SP,Brasil,Bauru/SP,P3,3
1380588,"43061,43088",Brasil,Trabiju/SP,Brasil,Bandeirantes/PR,P1,2
1380916,"43059,48155",Brasil,Ubirajara/SP,Brasil,Londrina/PR,P1,3
1381406,"43058,49111",Brasil,Almas/TO,Brasil,São José do Rio Preto/SP,P3,2
1383075,"43059,40493",Brasil,Piraquê/TO,Brasil,Itumbiara/GO,P3,2

In [3]:
import pandas as pd

# DataFrame de exemplo
data = {'Nome': ['João', 'Maria', 'João', 'Maria'],
        'Valor1': [10, 20, 30, 40],
        'Valor2': [5, 10, 15, 20],
        'Valor3': [2, 4, 6, 8]}
df = pd.DataFrame(data)
print(df)

# Definindo as colunas para soma e as colunas para manter iguais
columns_to_sum = ['Valor1', 'Valor3']
columns_to_keep = ['Nome', 'Valor2']

# Agrupando e aplicando operações de agregação nas colunas desejadas
df_grouped = df.groupby('Nome').agg({'Valor2': 'first', **{col: 'sum' for col in columns_to_sum}})

print(df_grouped)

    Nome  Valor1  Valor2  Valor3
0   João      10       5       2
1  Maria      20      10       4
2   João      30      15       6
3  Maria      40      20       8
       Valor2  Valor1  Valor3
Nome
João        5      40       8
Maria      10      60      12